html {
    background-color: whitesmoke;
   font-size: 1.3rem;
}
header {
    text-align: center;
    color:darkcyan;
}
body
{
    min-height: 90vh;
    width:90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    padding: 1%;
    font-weight: 1.5rem;
}

#intro {
    height: 5%;
}
#content {
    height: 75%;
}
footer {
    text-align: center;
    color:darkslategrey;
    padding: 1%;
    bottom: 0;
}
label {
    color:darkslategrey;
    font-weight: bold;
}
.isbn-input {
    padding:5px;
    height: 30px;
    border:3px dotted darkcyan;
    margin-top: 1%;
    width: fit-content;
    font-size: larger;
}
.search-btn {
    background-color: gainsboro;
    text-align: center;
    color: cornflowerblue;
    font-size: large;
    margin-top: 1%;
    font-weight: bold;
    padding:5px;
    border-radius: 5%;
    border: 3px solid lightskyblue;
    width:10%;
}
.search-btn:hover {
    background-color: palegoldenrod;
    color:black;
}

#demo {
    border:1px solid lightblue;
    margin-top: 1%;
    padding:1%;
    color:darkolivegreen;
    padding-left: 10%;
    padding-right: 10%;
}